<div class="left">
    <a {{action "toggleSidebar"}} title="Open Sidebar" class="header-button icon-cmd"></a>
    <a {{action "toggleNotifications"}} title="Show Notifications" class="header-button icon-comments"></a>
</div>
<div class="center">
    {{b-calendar-title currentView=currentView targetDate=targetDate}}
</div>
<div class="right">
    {{!-- <a {{action "calendarViewChangeHandler" "weekly"}}>Week View</a>
    <a {{action "calendarViewChangeHandler" "monthly"}}>Month View</a> --}}
    <a {{action "moveCalendar" "back"}} title="Go Forward" class="header-button icon-rewind"></a>
    <a {{action "moveCalendar" "today"}} title="Go to Today" class="header-button icon-pin-alt"></a>
    <a {{action "moveCalendar" "forward"}} title="Go Back" class="header-button icon-forward"></a>
</div>
