{{b-calendar-title currentView=currentView targetDate=targetDate}}
<div class="buttons">
    <button {{action "calendarViewChangeHandler" "weekly"}}>Week View</button>
    <button {{action "calendarViewChangeHandler" "monthly"}}>Month View</button>
    <button {{action "moveCalendar" "back"}} class="icon-rewind"></button>
    <button {{action "moveCalendar" "forward"}} class="icon-forward"></button>
    <button {{action "sync"}} class="icon-in"></button>
</div>
