<div class="settings md-modal md-event md-effect {{if isEnabled "md-show"}}" id="modal-event-body" style={{style}}>
    <div class="md-content">
        <header>
            {{#if isFullBodyVisible}}
                <span>Description</span><a {{action "toggleBody"}} class="button tiny-button">Go Back</a>
            {{else}}
                <span>{{event.title}}</span>
            {{/if}}
        </header>
        <div class="md-body">
            {{#if isFullBodyVisible}}
                {{b-event-modal-body body=event.body type=event.bodyType}}
            {{else}}
                <section>
                    <p><i class="fa fa-calendar"></i> {{day}}</p>
                    <p><i class="fa fa-clock-o"></i> {{moment-hour event.start}} <i class="fa fa-long-arrow-right"></i> {{moment-hour event.end}}</p>
                </section>
                {{#if event.location}}
                    <section class="event-location">
                        <p {{action "openLocation"}}><i class="fa fa-map-marker"></i> {{event.location}}</p>
                    </section>
                {{/if}}
                {{#if bodyPreview}}
                    <section class="event-body-preview">
                        <div class="left">{{bodyPreview}}</div>
                        <div class="right" {{action "toggleBody"}}>
                            <i class="fa fa-arrow-circle-o-right"></i>
                        </div>
                        <div class="clear"></div>
                    </section>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>
<div {{action "toggleVisibility"}} class="md-overlay md-event"></div>
