<div class="settings md-modal md-event md-effect {{if isEnabled "md-show"}}" id="modal-event-body" style={{style}} draggable="true">
    <div class="md-content">
        <header>
            {{#if isFullBodyVisible}}
                <span>Description</span><a {{action "toggleBody"}} class="button tiny-button">Go Back</a>
            {{else}}
                <span>{{event.title}}</span>
            {{/if}}
        </header>
        <div class="md-body">
            {{#if isFullBodyVisible}}
                {{b-event-modal-body body=event.body type=event.bodyType}}
            {{else}}
                <section>
                    <ul>
                        <li>
                            <i class="icon-calendar"></i>
                            <span>{{day}}</span>
                        </li>
                        <li>
                            <i class="icon-clock"></i>
                            <span>{{moment-hour event.start}} <i class="icon-arrow40"></i> {{moment-hour event.end}}</span>
                        </li>
                    </ul>
                </section>
                {{#if event.location}}
                    <section class="event-location">
                        <ul>
                            <li {{action "openLocation"}}><i class="icon-map1"></i> {{event.location}}</li>
                        </ul>
                    </section>
                {{/if}}
                {{#if event.participants}}
                    <section class="event-participants">
                        <ul>
                            {{#each event.participants as |participant|}}
                                <li>
                                    <div class="avatar">
                                        <i class="icon-user1"></i>
                                    </div>
                                    <div class="name">
                                        <span class="real-name">{{participant.name}}</span>
                                        <span class="email"><a href="mailto:{{participant.email}}">{{participant.email}}</a></span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </section>
                {{/if}}
                {{#if bodyPreview}}
                    <section class="event-body-preview">
                        <div class="left">{{bodyPreview}}</div>
                        <div class="right" {{action "toggleBody"}}>
                            <i class="fa fa-arrow-circle-o-right"></i>
                        </div>
                        <div class="clear"></div>
                    </section>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>
<div {{action "toggleVisibility"}} class="md-overlay md-event"></div>
