{{b-calendar-header
    targetDate=targetDate
    currentView=currentView
    targetDateChangeHandler="targetDateChangeHandler"
    calendarViewChangeHandler="calendarViewChangeHandler"
    isSidebarVisible=isSidebarVisible
}}

<div class="sidebar-container sidebar-effect {{if isSidebarVisible "sidebar-visible"}}">
    {{b-sidebar isSettingsVisible=isSettingsVisible}}
    {{#b-sidebar-pusher isSidebarVisible=isSidebarVisible}}
        <div class="main">
            {{b-calendar-monthly
                targetDate=targetDate
                accounts=model
            }}
        </div>
    {{/b-sidebar-pusher}}
</div>

{{b-settings isEnabled=settingsVisible}}
